---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Startseite";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Hallo und Herzlich Willkommen auf meiner Astro-Website!</p>
</BaseLayout>